body{
	background-color: #91c7b1;
	position: relative;
}

.form {     
    width: 600px;           /* Set this to your convenience */
    position: absolute;
    left: 50%;
    margin-left: -300px;     /* Half of width */
    margin-top: 5%;
	background-color: #f1f7ed;
    text-align: center;
    padding: 50px;
    border-radius: 25px;
}
.form-group{
	text-align: left;
}
.form img{
	width: 80%;
}
.box{
    background-color: #f1f7ed;
    padding: 25px;
    border-radius: 25px;
    margin-bottom: 50px;
}
.division{
    height:2px;
    border-width:0;
    color:gray;
    background-color:gray;
}